.list1{
    list-style-type: none;
    list-style-image: url(../images/1122.png);
    border: 3px dotted orange;
    /* border-radius: 20px;
    border-radius: 5px 10px 15px 20px; */
    border-radius: 20px 0 20px 0;
}
.list2{
    list-style-image: none;
    list-style-type: lower-greek;
}
.in{
    background: #c0a9bd;
    list-style-position: inside;
}
.out{
    background: #c0a9bd;
    list-style-position: outside;
}